.home {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    max-width: 300px;
    margin-inline: auto;
}

.home-scanner {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
}

.home-button {
    background-color: #001f3f;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button {
    color: #001f3f;
    background-color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #003366;
}

.logout-button:hover{
    background-color: #4092d9;
}

/* Responsive */
@media (max-width: 600px) {
    .home-button, .logout-button {
        width: 100%;
        max-width: 300px;
    }
}

video {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
    background: black;
}

